* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
}

.main__image {
    margin: 0 auto;
    width: 100%;
}

.main__image:hover {
    background: url('./images/icon-view.svg') center no-repeat;
    cursor: pointer;
    z-index: 1;
}

.main__image img {
    margin: 20px;
    width: 90%;
    border-radius: 20px;
}

.main__image img:hover {
    z-index: 0;
    opacity: 0.3;
}

.main__desc {
    width: 90%;
}

.main__desc h2 {
    font-weight: 600;
}

.main__desc h2:hover,
.main__info a:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.main__desc p {
    margin: 20px auto;
    font-weight: 300;
    line-height: 30px;
    opacity: .5;
}

.main__prices {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

.main__prices--price {
    font-weight: 600;
    color: hsl(178, 100%, 50%);
}

.main__prices--date {
    font-weight: 400;
    opacity: .5;
}

.line {
    height: 1px;
    width: 90%;
    background-color: hsl(215, 32%, 27%);
}

.main__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.main__info--img {
    width: 20%;
}

.main__info img {
    width: 80%;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.main__info a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.attribution {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 1200px) {
    main {
        width: 20%;
    }
}